<!doctype html>
<html lang="en">
<head>
  	<title></title>
  	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
 	 <link href='styles/main.css' rel='stylesheet' type="text/css">
 	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Muli" rel="stylesheet">
    <script src="vendor/angular.js" type="text/javascript"></script>
  	<script src="scripts/app.js" type="text/javascript"></script>
</head>
<body ng-app="app-container">
	
	<div id="overlay"></div>

	<div ng-controller="hideCtrl" ng-click="expandImage()" id="overlay"></div>

	<section class="header-section">
		<div class="header-inner">
			<p class="camera"><i class="fas fa-camera"></i></p>
			<div class="title-wrapper">		
				<p class="title-a">Photography</p>
			   	<p class="title-b">Kitten</p>
		   	</div>
	   	</div>
	</section>

	<section ng-controller="mainCtrl">

		<section class="search-section">
			<div class="search-inner">
				<div class="search-title-wrapper">
					<p class="search-title-a">Photography</p>
					<p class="search-title-b">Kitten</p>
				</div>
				<p class="search-description">Beautiful, free photos.</p>
				<p class="search-description">Free to use in your next project</p>
				<p class="search-description">Gifted by the world’s most generous community of photographers</p>
				<div class="inputs">
					<input ng-model="search" type="text" class="search-input" placeholder="search here...." />
					<button ng-click="helloWorld() "class="search-button">Go!</button>
				</div>
				<div class="error" id="error">
					<i class="far fa-frown"></i>
					<p class="error-text">Found No results</p>
				</div>
			</div>

		</section>

		<section ng-controller="searchCtrl" class="result-section">

			<div class="gallery-images">
				<div class="image-wrapper">
					<div class="image-container" ng-repeat="item in results" >
						<div class="artist-container">
						<img class="profile"src="{{item.user.profile_image.medium}}" alt="">
						<p class="author">{{item.user.name}}</p>
						</div>
						<img ng-click="expandImage()" class="image" src="{{results[$index].urls.small}}" alt="">
						<p class="description">{{item.description}}</p>
					</div>
				</div>
			</div>

			<div ng-controller="hideCtrl" id="fullscreen">	
				<div class="fullscreen-content" id="full-screen-image">	
					<img id="full-image"class="full-image" src="" alt="">
					<div class="fullscreen-content-wrapper">
						<p class="" id="full-title"></p>
						<div class="like-wrapper">
						<img class="artist-image" src="" id="artist-image" alt=""/>
						<p id="full-artist"></p>
						</div>
						<div class="like-wrapper">
							<p id="full-likes"></p>
							<i class="fas fa-heart"></i>
						</div>
						<div class="close-wrapper">
							<div ng-click="closeImage()" id="close">X</div>
						</div>
					</div>
					<div class="fullscreen-links-wrapper">
						<p>Get Links:</p>
						<div class="link">
							<p ng-click="getLinksLarge()" class="link-name">large</p>
							<p class="large-link fullscreen-link" id="large"></p>
							<div  id="close-buttons" class="close">X</div>
						</div>
						<div class="link">
							<p ng-click="getLinksSmall()" class="link-name">small</p>
							<p class="small-link fullscreen-link" id="small"></p>
							<div id="close-buttons" class="close">X</div>
						</div>
						<div class="link">
							<p ng-click="getLinksThumb()" class="link-name">thumb</p>
							<p class="thumb-link fullscreen-link" id="thumb"></p>
							<div id="close-buttons" class="close"><p>X</p></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>



	<section ng-controller="picTodayCtrl" class="trending-section" id="trending-section">
		<img src="" alt="" id="trending-wrapper" />
		<div ng-init="getPicToday()" class="trend-content">
			<div class="trending-inner">
				<p class="trending-title">Featured Image:</p>
				<p class="photo-name">{{pictoday.data.description}}</p>
				<div class="artist-wrapper">
					<p class="name">{{pictoday.data.user.name}}</p>
					<div class="artist">
						<img id="pic-artist" src="" alt="">
					</div>
				</div>
				<div class="location-wrap">
					<i class="fas fa-map-marker-alt"></i>
					<p class="trend-location">{{pictoday.data.location.title}}</p>
				</div>
				<div class="hardware-wrap">
				<i class="fas fa-camera-retro"></i>
				<div class="hardware-text-wrap">
					<p class="trend-camera">{{pictoday.data.exif.make}}</p>
					<p class="trend-model">{{pictoday.data.exif.model}}</p>
				</div>
				</div>
				<div class="more"><p ng-click="getPicToday()"class="more-text">See More</p></div>
			</div>
		</div>
	</section>



	<section class="footer-section">
		<div class="footer-inner">
			<div class="footer-address">
				<div class="footer-title-wrapper">	
					<p class="camera"><i class="fas fa-camera"></i></p>
					<p class="title-a">Photography</p>
				   	<p class="title-b">Kitten</p>
				</div>
				<div class="address-wrapper">
				   	<p class="footer-address">24 Eaton Rise</p>
				   	<p class="footer-address">Norwich</p>
				   	<p class="footer-address">Norfolk</p>
				   	<p class="footer-address">NR1 2AB</p>
				   	<p class="footer-address">Tel: 01603 654-312</p>
				   	<p class="footer-address">Email: enquires@photokittens.co.uk</p>
			   	</div>
			</div>
		   	<div class="social-wrapper">
		   		<p class="footer-social">Follow us on Social Media</p>
		   		<div class="social-icons">
			   		<i class="fab fa-facebook-square"></i>
			   		<i class="fab fa-twitter-square"></i>
			   		<i class="fab fa-google-plus-square"></i>
			   		<i class="fab fa-instagram"></i>
		   		</div>
		   	</div>
	   	</div>
	</section>

	<script src="vendor/angular.js" type="text/javascript"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
</body>
</html>