
/* Generic styles**************************************************************************/




* {
    box-sizing: border-box;
    margin: 0px;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #333d47;  
}

a {
  color: #3f8abf;
  text-decoration: none; }
  a:hover {
    color: #65a1cc; }



/*Gallery OVerlay************************************************************************/




#overlay {
  display: none;
  position: absolute;
  z-index: 2;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.8);
}




/*Header Styles**************************************************************************/




.header-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333d47;
  background-size: cover;
  background-position: top;
  color: #fff;
  padding: 10px;

}

.header-inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.camera {
  font-size: 40px;
  align-self: center;
  margin: 10px;
}

.title-wrapper {
  margin: 0px;
}


.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}
.title-a {
  font-family: 'Muli', sans-serif;
  font-size: 40px;
  margin: 0px;
}
.title-b {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 0px;
}




/* Search Styles***************************************************/




.search-section {
  width: 100%;
  display: flex;
  background-image: url(https://images.pexels.com/photos/219958/pexels-photo-219958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  height: 800px;
  align-items: center;
  color: #fff;
}

.search-inner {
  width: 60%;
  margin: 0 auto;
}

.search-title-wrapper {
  display: inline-flex;

}

.search-title-a {
  font-size: 80px;
  font-family: 'Muli', sans-serif;
  margin: 0px;
}

.search-title-b {
  font-size: 80px;
  font-family: 'Lobster', cursive;
  margin: 0px;
}

.search-description {
  font-size: 24px;
  font-family: 'Muli', sans-serif;
  padding: 5px 0px;
}

.inputs {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.search-input {
    width: 60%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.4);
    border: none;
    color: #fff;
    font-size: 30px;
    padding: 0px 10px;
}

.search-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  border: 0px;
  background-color: #3e8e41;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.error {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 50px;
}




/* Results / Gallersy Styles****************************************************************/





.result-section {
  display: flex;
  position: relative;
}

.gallery-images{
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
}

.image-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-container {
  position: relative;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.artist-container {
 position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Muli', sans-serif;
    width: auto;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  margin:5px;
}

.author {
  padding: 5px;
}

.image {
  margin: 10px;
  height: 400px;
  width: fit-content;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.image:hover {
   filter: grayscale(0%);
}

.description {
 position: absolute;
    bottom: 13px;
    left: 10px;
    color: #fff;
    text-align: center;
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Muli', sans-serif;
}

#fullscreen {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

.fullscreen-content {
    display: flex;
    z-index: 3;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 75px;
    height: 900px;
}

@media only screen and (min-width: 600px) {
    .fullscreen-content {
    width:-webkit-fill-available;
    display: flex;
    z-index: 3;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 25px;
    max-height: 90vh;
  } 
}

#full-image {
   display: flex;
    z-index: 3;
    position: sticky;
    top: 75px;
    height: 900px;
    border-radius: 20px;
}

@media only screen and (min-width: 600px) {

#full-image {
    width:-webkit-fill-available;
    display: flex;
    z-index: 3;
    position: sticky;
    top: 25px;
    border-radius: 20px;
    max-height: 90vh;
  }
}

.fullscreen-content-wrapper {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s;
    top: 0;
    justify-content: space-between;
    color: #fff;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    font-size: 22px;
    font-family: 'Muli', sans-serif;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fullscreen-content:hover > .fullscreen-content-wrapper {
 opacity: 1;
}

.fullscreen-content:hover > .fullscreen-links-wrapper {
 opacity: 1;
}

.like-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#close {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;
}

.artist-image {
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 10px;
}

.fullscreen-links-wrapper {
   position: absolute;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 0.5s;
    bottom: 0;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.link {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 5px;
    width: auto;
    word-break: break-word;
}

.thumb-link,
.small-link,
.large-link {
  display: none;
}


.link-name {
    word-break: keep-all;
    padding: 5px;
}


.fa-heart {
    color:red;
    margin-left: 10px;
}

.close-wrapper {
  display: flex;
  align-items: center;
}

.fullscreen-link {
  color: #333d47;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#close-buttons {
    display: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;
}





/*PicToday Styles*****************************************************************************/






.trending-section {
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.trending-inner {
    position: absolute;
    top: 0;
    left: 50px;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 80px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 10px ;
}

#trending-wrapper {
  width: -webkit-fill-available;
}

.trending-title {
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.photo-name {
  font-size: 28px;
   width: 50%;
}

.artist-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name {
  margin-right: 20px;
}

.artist {
 display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#pic-artist {
  align-self: center;
  height: 75%;
  border-radius: 50%;
}

.location-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px
}

.hardware-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hardware-text-wrap{
  display: flex;
}

.fa-camera-retro {
  margin-right: 10px;
}

.trend-camera {
  margin-right: 5px;
}

.fa-map-marker-alt {
  margin-right: 10px;
}


.more {
  text-align: -webkit-right;
  margin-top: 20px;
}

.more-text {
    width: fit-content;
    background-color: lightseagreen;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}



/* Footer Sytles****************************************************************************/




.footer-section {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #333d47;
  background-size: cover;
  background-position: top;
  color: #fff;
   font-family: 'Muli', sans-serif;
}
.footer-inner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px auto;
}

.footer-address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 5px 0px;
}

.footer-title-wrapper {
  display: flex;
  align-items: center;
}


.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.title-a {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  margin: 0px;
}

.title-b {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin: 0px;
}

.social-wrapper {
  height: 100%;
}

.social-icons {
  font-size: 40px;
}
